#todo {
  position: relative;
  display: block;
  float: left;
  width: 90%;
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
}
#todo-button {
  display: block;
  width: 6%;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}
.todo-toogle {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  /*height: 36px;*/
  margin: 0;
  font-size: 18px;
}
.todo-toogle ul {
  list-style-type: none;
  display: inherit;
  /*height: 36px;*/
  margin: 0;
  padding: 0;
}
.todo-toogle ul li{
  padding: 10px;
  border: 1px solid rgb(238, 238, 238);
}
.view input, .view label {
  margin-right: 50px;
}
.view input[type='button'] {
  float: right;
  margin-right: 3px;
}
.selected-label {
  text-decoration: line-through;
  color: #cccccc;
}